= simple_form_for(@message, :url => @message.new_record? ? messages_path(:page => params[:page]) : message_path(@message, :page => params[:page]), :defaults => {:input_html => {:class => 'input-xxlarge'}}, :html => {:class => 'form-horizontal' }) do |f|
  = f.error_notification

  .form-inputs
    = f.input :content, :required => true, :input_html => {:rows => 15, :class => 'input-xxlarge markdown-toolbar'}
    .hidden
      = f.association :topic

  .form-actions
    = f.button :submit
    = link_to t('common.destroy'), @message, method: :delete, class: 'btn btn-danger', data: { confirm: t('common.are_you_sure') } unless @message.new_record?
    = link_to t('common.back'), topic_path(@message.topic, page: params[:page]), :class => 'btn btn-link' unless defined?(back) and !back
