= simple_form_for(@message, :defaults => {:input_html => {:class => 'input-xxlarge'}}, :html => {:class => 'form-horizontal' }) do |f|
  = f.error_notification

  .form-inputs
    = f.input :content, :required => true, :autofocus => true
    .hidden
      = f.association :topic

  .form-actions
    = f.button :submit
    = link_to 'Destroy', @message, method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure?' } unless @message.new_record?
    = link_to 'Back', topic_path(@message.topic_id), :class => 'btn btn-link'
