- if @messages.any?
  = paginate @messages

  %table.table.table-striped.messages
    %tr.hidden
      %th= t('activerecord.models.user')
      %th= t('activerecord.models.message')
    - @messages.each do |message|
      %tr
        %td.user
          %p= username message.user, message.forum_id
          %p
            = render 'shared/avatar', user: message.user, size: :small
          %p= link_to t('common.edit'), edit_message_path(message, page: params[:page]) if can? :update, message
        %td.message
          = raw message.rendered_content
          - if !message.user.human? && can?(:bot, User)
            = form_for message.user, url: bot_user_path(message.user) do |f|
              = f.submit t('.bot', name: message.user.name), name: 'bot', class: 'btn btn-danger'
              = f.submit t('.human', name: message.user.name), name: 'human', class: 'btn btn-success'
          - if message.updater && (message.updater_id != message.user_id || message.updated_at - 5.minutes > message.created_at)
            %p.date= t('.updated_by', name: message.updater.name, date: l(message.updated_at))
          - if params[:q]
            %p.search= link_to message.topic.name, topic_path(message.topic)
        %td.ago.hidden-portrait-phone
          %span{title: l(message.created_at)}= time_ago_in_words message.created_at

  = paginate @messages
- else
  .no_results= t('search.no_results')
