%h1= t('.title')

%table.table
  - @forums.each do |forum|
    %tr
      %td
        = link_to forum do
          %p= forum.name
          %p= forum.content
      %td
        %p= t('common.topics_count', count: forum.topics_count)
        %p= t('common.messages_count', count: forum.messages_count)

%br

= link_to 'New forum', new_forum_path if current_user
