%h1
  = t('common.title')

%table.table.table-striped
  %tr
    %th
      = t('.title')
      %small= link_to t('common.new'), new_forum_path if can? :create, Forum.new
    %th
    %th
  - @forums.each do |forum|
    %tr
      %td
        = link_to forum do
          %p
            %strong= forum.name
        %p.reset= forum.content
        %small
          = "#{t('common.staff')}:"
          = raw forum.roles.includes(:user).where(name: %w[admin moderator]).order('users.name').map{|r| username(r.user, forum.id)}.join(', ');
      %td.infos.hidden-phone
        %p= t('common.topics_count', count: forum.topics_count)
        %p= t('common.messages_count', count: forum.messages_count)
      %td.infos.hidden-portrait-phone
        %p= l forum.updated_at, format: :short
        %p
          = t('common.by')
          = username forum.updater, forum.id

.widget
  %h4= t('common.stats')
  %p= t('.counters', topics: Topic.count, messages: Message.count)
  %p
    = "#{t('.users', count: User.count)}#{t('.online', count: @users.count)}"
    = raw @users.map{|u| username u}.join(', ')
