%h1
  = t('.title')
  %small= link_to t('common.new'), new_forum_path if can? :create, Forum.new

%table.table
  - @forums.each do |forum|
    %tr
      %td
        = link_to forum do
          %p
            %strong= forum.name
        %p.reset= forum.content
      %td.infos.hidden-portrait-phone
        %p= t('common.topics_count', count: forum.topics_count)
        %p= t('common.messages_count', count: forum.messages_count)
