-# cache "forum-#{@forum.id}-topics-page#{params[:page]}-#{current_user.try(:role, @forum.id)||'anon'}-#{@forum.updated_at}" do
- if true

  - content_for :title, @forum.name

  %h1
    = t('.title', name: @forum.name)
    %small= link_to t('common.edit'), edit_forum_path(@forum) if can? :update, @forum

  = render 'breadcrumb', forum: @forum, buttons: true

  = paginate @topics

  = render 'topics/list'

  = render 'breadcrumb', forum: @forum, buttons: true
