%h1= t('.title', name: @forum.name)

= paginate @topics

%table.table
  - @topics.each do |topic|
    %tr
      %td
        = link_to topic do
          %p= topic.name
      %td.infos.hidden-portrait-phone
        %p= t('common.messages_count', count: topic.messages_count)

= paginate @topics

= link_to 'New topic', new_topic_path(forum_id: @forum.id) if current_user
