= simple_form_for(@topic, :defaults => {:input_html => {:class => 'input-xxlarge'}}, :html => {:class => 'form-horizontal' }) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name, :required => true, :autofocus => true
    .hidden
      = f.association :forum

  .form-actions
    = f.button :submit
    = link_to 'Destroy', @topic, method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure?' } unless @topic.new_record?
    = link_to 'Back', forum_path(@topic.forum_id), :class => 'btn btn-link'
