= simple_form_for(@topic, :defaults => {:input_html => {:class => 'input-xxlarge'}}, :html => {:class => 'form-horizontal' }) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name, :required => true
    - if @topic.new_record?
      - if @topic.forum.children.any?
        = f.association :forum, :collection => Forum.where(:id => @topic.forum.children.map(&:id) << @topic.forum_id), :include_blank => false
      -else
        .hidden= f.association :forum
      = f.simple_fields_for :messages do |m|
        = m.input :content, :input_html => {:rows => 15, :class => 'input-xxlarge markdown-toolbar'}
    - else
      = f.association :forum, :include_blank => false

  .form-actions
    = f.button :submit, class: @topic.new_record? || @topic.user_id == current_user.id ? 'btn-primary' : 'btn-warning'
    = link_to t('common.destroy'), @topic, method: :delete, class: 'btn btn-danger', data: { confirm: t('common.are_you_sure') } if !@topic.new_record? && can?(:destroy, @topic)
    = link_to t('common.back'), @topic.new_record? ? forum_path(@topic.forum) : topic_path(@topic), :class => 'btn btn-link'
