%h1= t('.title', name: @topic.name)

= render 'breadcrumb', topic: @topic

= paginate @messages

%table.table
  - @messages.each do |message|
    %tr
      %td.user
        = link_to user_path(message.user) do
          %p= message.user.name
          %p
            = render 'shared/avatar', user: message.user, size: :small
        %p= link_to 'Edit', edit_message_path(message, page: params[:page]) if current_user
      %td= message.content

= paginate @messages

= render 'breadcrumb', topic: @topic

= render 'messages/form'
