%h1= t('.title', name: @topic.name)

%table.table
  - @topic.messages.each do |message|
    %tr
      %td= message.user.name
      %td= message.content
      %td
        = link_to 'Edit', edit_message_path(message), class: 'btn'
        = link_to 'Destroy', message, method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure?' }

%br

= link_to 'New message', new_message_path(topic_id: @topic.id)
