%h1
  = t('.title', name: @topic.name)
  %small= link_to t('common.edit'), edit_topic_path(@topic) if can? :update, @topic

= render 'breadcrumb', topic: @topic

= paginate @messages

%table.table.table-striped
  %tr.hidden
    %th= t('activerecord.models.user')
    %th= t('activerecord.models.message')
  - @messages.each do |message|
    %tr
      %td.user
        %p= username message.user, @topic.forum_id
        %p
          = render 'shared/avatar', user: message.user, size: :small
        %p= link_to t('common.edit'), edit_message_path(message, page: params[:page]) if can? :update, message
      %td
        = raw message.rendered_content
        - if !message.user.human? && can?(:bot, User)
          = form_for message.user, url: bot_user_path(message.user) do |f|
            = f.submit t('.bot', name: message.user.name), name: 'bot', class: 'btn btn-danger'
            = f.submit t('.human', name: message.user.name), name: 'human', class: 'btn btn-success'
        %p.updated= t('.updated_by', name: message.updater.name, date: message.updated_at) if message.updater

= paginate @messages

= render 'breadcrumb', topic: @topic

= render 'messages/form', back: false if can? :create, Message.new
