%h1
  = t('.title', name: @topic.name)
  %small= link_to t('common.edit'), edit_topic_path(@topic) if can? :update, @topic

= render 'breadcrumb', topic: @topic

= paginate @messages

%table.table
  - @messages.each do |message|
    %tr
      %td.user
        = link_to user_path(message.user) do
          %p= message.user.name
          %p
            = render 'shared/avatar', user: message.user, size: :small
        %p= link_to t('common.edit'), edit_message_path(message, page: params[:page]) if can? :update, message
      %td
        = raw message.rendered_content
        %p.updated= t('.updated_by', name: message.updater.name, date: message.updated_at) if message.updater

= paginate @messages

= render 'breadcrumb', topic: @topic

= render 'messages/form', back: false if can? :create, Message.new
