%h1 Listing users

= paginate @users

%table.table
  %tr
    %th= sortable User, :name
    %th.number= sortable User, :birthdate, t('.age')
    %th= sortable User, :gender
    %th.hidden-phone= sortable User, :location
    %th.hidden-phone= sortable User, :website
    %th.number.hidden-phone= sortable User, :topics_count
    %th.number= sortable User, :messages_count
    %th.hidden-phone.hidden-tablet= sortable User, :created_at
    %th= sortable User, :updated_at

  - @users.each do |user|
    %tr
      %td.icon
        = link_to user do
          = render 'shared/avatar', user: user, size: :icon
          = user.name
      %td.number
        = user.age if user.birthdate
      %td
        = user.gender if user.gender
      %td.hidden-phone
        = user.location if user.location
      %td.hidden-phone
        = link_to user.website, user.website, rel: :nofollow if user.website
      %td.number.hidden-phone= user.topics_count
      %td.number= user.messages_count
      %td.hidden-phone.hidden-tablet= l user.created_at.to_date
      %td= time_ago_in_words user.updated_at

= paginate @users
