%h1= @user.name

- if @user.avatar.exists?
  = image_tag @user.avatar.url(:small)
- else
  = image_tag @user.gravatar_url

%p
  %b= "#{User.human_attribute_name(:location)}:"
  - if @user.location.present?
    = @user.location
  - else
    %i= t('common.na')

%p
  %b= "#{User.human_attribute_name(:birthdate)}:"
  - if @user.birthdate.present?
    = l @user.birthdate
  - else
    %i= t('common.na')

%p
  %b= "#{User.human_attribute_name(:gender)}:"
  - if @user.gender.present?
    = @user.gender
  - else
    %i= t('common.na')

- if @user.website.present?
  %p
    %b= "#{User.human_attribute_name(:website)}:"
    = link_to @user.website, @user.website, :rel => :nofollow

-#= link_to 'Edit', edit_user_path(@user)
-#\|
= link_to 'Back', users_path
