%a.btn.btn-navbar{data: {toggle: 'collapse', target: '.nav-collapse'}}
  .icon-bar
  .icon-bar
  .icon-bar
= link_to t('common.title'), root_path, :class => 'brand'
.nav-collapse
  %ul.nav
    %li= link_to t('.users'), users_path
    - if user_signed_in?
      %li= link_to t('.user'), user_path(current_user)
      %li= link_to t('.follows'), follows_path
      %li
        = link_to notifications_path do
          = t('.notifications')
          %span.badge.badge-success#faye-notifications{class: current_user.notifications_count <= 0 && 'hidden'}= current_user.notifications_count
      %li= link_to t('.bookmarks'), bookmarks_path
      %li= link_to t('.logout'), destroy_user_session_path, :method=>'delete'
    - else
      %li= link_to t('.sign_up'), new_user_registration_path
      %li= link_to t('.login'), new_user_session_path
  = render 'layouts/search'
