!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1"}
    %title= content_for?(:title) ? "#{yield(:title)} - #{t('common.title')}" : t('common.title')
    %meta{:content => t('common.description'), :name => "description"}
    %meta{:content => "Julien Grillot", :name => "author"}
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = javascript_include_tag "//#{request.host}:9292/faye.js"
    = csrf_meta_tags
    = yield(:head)
    - if current_user
      :javascript
        $(document).ready(function() {
          client = new Faye.Client(location.protocol + '//' + location.hostname + ':9292/faye');
          $notifications = $('#faye-notifications');
          client.subscribe('/#{current_user.id}/notifications', function(data) {
            $notifications.html(parseInt($notifications.html())+1);
            $notifications.removeClass('hidden');
          });
        });
  %body
    %header.navbar
      %nav.navbar-inner
        .container
          = render 'layouts/navigation'
    #main{:role => "main"}
      .container
        .content
          .row
            - if @widgets_mode
              = render 'layouts/messages'
              = yield
            - else
              .span12
                = render 'layouts/messages'
                = yield
          %footer
            © 2012
            = link_to 'RubyBB', 'http://www.rubybb.com'
            –
            = link_to 'Fork me on GitHub', 'https://github.com/RubyBB/RubyBB'
